<library path="qbo_rqt">
  <class name="PanTiltPlugin" type="qbo_rqt.pan_tilt_plugin.PanTiltPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to control Pan/Tilt for QBO
    </description>
    <qtgui>
      <group>
        <label>QBO</label>
        <icon type="theme">folder</icon>
        <statustip>Tools for the QBO robot</statustip>
      </group>
      <label>PanAndTilt</label>
      <icon type="theme">mail-read</icon>
      <statustip>Control pan and tilt servos for the QBO robot</statustip>
    </qtgui>
  </class>

  <class name="SystemViewPlugin" type="qbo_rqt.system_view_plugin.SystemViewPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Vue système enrichie (topics, services, diagnostics)
    </description>
    <qtgui>
      <group>
        <label>QBO</label>
        <icon type="theme">folder</icon>
        <statustip>Tools for the QBO robot</statustip>
      </group>
      <label>SystemView</label>
      <icon type="theme">mail-read</icon>
      <statustip>Display for the QBO robot</statustip>
    </qtgui>
  </class>
</library>
